<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

<body>
  <header>
    <div class="container">
      <div id="header-text">
        <h1>Billeaford Bookings <span> - About</span></h1>
        </div>
        <a href="http://localhost:3000" class="button" id="nav-button">Navigate to Home page</a>
    </div>
  </header>
  <main>
    <div id="intro-text">
      <div class="container">
        <p>A luxurious bed & breakfast in a 16th Century Suffolk house situated in a quiet lane just 4 miles from the coast at Aldeburgh. Surrounded by beautiful countryside, Billeaford Hall is a lovely retreat whether you are looking for inspiration or relaxation.<br><br>
        We currently offer one king-size bedroom which has its own private shower and bathroom and includes: crisp cotton linen, white towels, flat screen TV, DAB radio with iPod docking, wifi, complimentary toiletries, hospitality tray with tea, coffee and homemade cake or biscuits.<br><br>
        An English or continental breakfast using Suffolk produce, where possible, is served in the beamed dining room, with a roaring fire on colder mornings.<br><br>
        On warmer days you are welcome to sit in the garden and enjoy the tranquility and birdsong, or walk out into the private lane and follow the beautiful footpaths.
        The immediate area is a haven for music lovers, nature lovers and outdoor pursuit enthusiasts alike. The Snape Maltings Concert Hall, Minsmere RSPB Reserve, two well known golf courses and plenty of off-road cycling are all close by.</p>
        
        <img src="./public/images/dad.jpg" alt="Owners">
      </div>
    </div>
  </main>

  <footer>
    <p>Luke Haines&copy;</p>
    <div class="circle"></div>
    <div class="circle1"></div>
  </footer>

<body>