/* LUKE HAINES WDI 15*/
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
}

footer, .push {
  text-align: center;
  height: 600px;
}

#main-header {
  margin: 0 0;
  /*display: inline-block;*/
}

#header-text {
  display: inline-block;
  /*width: 50%;*/
  text-align: center;
  margin-right: 0;
}

p {
  font-size: 18px;
  margin: 0 auto;
}

/* Header styles */
header {
    text-align: center;
    background: #637b85;
    color: #fff;
    margin-bottom: 40px;
    height: 55px;
    padding-top: 15px;
}

header span {
    font-weight: 200;
}
header .button {
    font-size: 0.2em;
    top: -6px;
}

#intro-text {
  height: 100%;
}

canvas {
  margin-top: 20px;
}

/* button */
.button {
    cursor: pointer;
    text-decoration: none;
    font-size: 0.6em;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 6px;
    margin: 0 10px;
    position: relative;
    background: #ccc;
    color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background: rgb(190,190,190);
}
.button:hover {
    background: #637b85;
}

#nav-button {
  float: right;
  margin-top: 15px;
  display: inline-block;
}

.container {
    width: 200px;
    margin: 0 auto;
}
.canvas-container {
    min-height: 300px;
    max-height: 600px;
    position: relative;
}
.widget {
    position: relative;
    margin-bottom: 80px;
    background: #efefef;
    padding: 12px;
    /*margin-bottom: 30px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chart-legend ul {
    list-style: none;
    width: 100%;
    margin: 30px auto 0;
    text-align: left;
}
.chart-legend li {
    text-indent: 16px;
    line-height: 24px;
    position: relative;
    font-weight: 200;
    display: block;
    float: left;
    width: 50%;
    font-size: 0.8em;
}
.chart-legend  li:before {
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 3px;
    content: "";
}
.value1:before { background-color: #637b85; }
.value2:before { background-color: #2c9c69; }
.value3:before { background-color: #dbba34; }
.value4:before { background-color: #c62f29; }


.widget.doughnut .status {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 0;
    padding-top: 12%;
    padding-bottom: 18%;
    color: #444;
    margin-top: -15%;
    margin-left: -15%;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    background-color: #aaa;
    /*background-repeat: no-repeat;*/
    /*background-size: 30%;*/
    background-position: center;
}
.widget p {
    margin-top: 0;
    text-align: center;
}
.widget h3 {
    margin: -12px 0 16px -12px;
    padding: 12px;
    width: 100%;
    text-align: center;
    color: #627b86;
    line-height: 2em;
    background: #d0dde3;
}
.widget.line p span {
    color: #dbba34;
}
.widget.line p strong {
    color: #637b85;
    font-weight: 400;
}


@media only screen and (min-width:300px){
    .container {
        width: 300px;
        margin: 0 auto;
    }
}
 
@media only screen and (min-width:600px){
    .container {
        width: 580px;
        margin: 0 auto;
    }
    .third {
        float: left;
        width: 47.5%;
        margin-left: 5%;
    }
    .third:first-child {
        margin-left: 0;
    }
    .third:last-child {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}
 
@media only screen and (min-width:960px){
    .container {
        width: 940px;
    }
    .third {
        float: left;
        width: 30%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        text-align: center;
    }
    .third:first-child {
        margin-left: 0;
    }
    .third:last-child {
        margin-right: 0;
        margin-left: 2.5%;
        width: 30%;
    }
}
@media only screen and (min-width:1140px){
    .container {
        width: 1120px;
    }
}
@media only screen and (min-width:1360px){
    .container {
        width: 1300px;
    }
}